
<!DOCTYPE html>
<!-- saved from url=(0024)https://coccachshop.com/ -->
<html lang="vi-VN" style="height: 100%;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="robots" content="index, follow">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
          rel="stylesheet" type="text/css" />
    <meta name="keywords" content="Street Style - Unisex - Acessories">
    <meta name="description" content="Cửa hàng giày · Cửa hàng quần áo · Cửa hàng bán buôn, nguồn cung cấp">
    <meta property="og:title" content="COCCACH UNDERCLUB">
    <meta name="keywords" content="Street Style - Unisex - Acessories">
    <meta name="description" content="Cửa hàng giày · Cửa hàng quần áo · Cửa hàng bán buôn, nguồn cung cấp">
    <meta property="og:title" content="COCCACH UNDERCLUB">
    <meta property="og:image" content="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/store_1597012434_646.gif">
    @*<meta name="google-site-verification" content="xrW41nDgGjzdKqYtCIZQceNQAJ4z5r1S6tJ2vU3jxSY">*@
    <link href="https://storage.googleapis.com/cdn.nhanh.vn/store/6602/store_1597012066_216.jpg" rel="shortcut icon" type="image/vnd.microsoft.icon">

    @*<meta http-equiv="Content-Security-Policy" content="script-src 'self' https://apis.google.com">*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themify-icons.css" rel="stylesheet" />
    <link href="~/Content/jquery.convform.css" rel="stylesheet" />
    <link href="~/Content/black.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="https://cdn.tiny.cloud/1/j55ka39e4ie2ftkldt39ipeoc0um5p21i3twrtckuo6zowaj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/Scripts/jquery-1.12.3.min.js"></script>
    <script>
        tinymce.init({
            selector: '#myEditor',
            
        });
    </script>
    <style type="text/css">
        .tp_product_price_old {
            color: #ff0000 !important
        }

        .tp_product_detail .tp_product_detail_related {
            display: block !important
        }

        .tp_product_detail .tp_product_detail_suggest {
            display: block !important
        }

        .tp_product_detail .tp_product_detail_suggest {
            display: block !important
        }

        .tp_product_detail .tp_product_detail_history {
            display: block !important
        }

        .tp_product_detail .tp_product_detail_depot {
            display: block !important
        }

        .tp_product_category .tp_product_category_filter_attribute {
            display: block !important
        }

        .tp_product_category .tp_product_category_filter_category {
            display: block !important
        }

        .tp_product_category .tp_product_category_filter_price {
            display: block !important
        }
    </style>
    <style type="text/css">
        img.lazyload {
            opacity: 0.001;
            object-fit: scale-down !important;
        }

        .fb-customerchat > span > iframe.fb_customer_chat_bounce_out_v2 {
            max-height: 0 !important;
        }

        .fb-customerchat > span > iframe.fb_customer_chat_bounce_in_v2 {
            max-height: calc(100% - 80px) !important;
        }
    </style>
    <style type="text/css">
        .fancybox-margin {
            margin-right: 15px;
        }
    </style>
</head>
<body class="tp_background tp_text_color" style="position: relative; min-height: 100%; top: 0px;">
    @Html.Action("HeaderPartial", "Home")
    <div class="modal-cart">

    </div>
    @RenderBody()
    @Html.Action("FooterPartial", "Home")
    <script src="~/Scripts/lazysizes.min.js" async=""></script>
    <script src="~/Scripts/JavaScript.js" async=""></script>
    <script src="~/Scripts/jquery.convform.js"></script>
    @*<script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-169439836-1');</script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-NEZ5F7157W');</script>*@
    @*<script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: "vi", includedLanguages: "vi,en", layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false }, "google_translate_element");
        }</script>*@
    <style type="text/css">
        #settingSkins {
            left: -40px;
        }
    </style>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-storage.js"></script>
    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyBDHK8z_EAbS7b9yOrQrXj9wBSEDGcOsjo",
            authDomain: "coccachshop-25db4.firebaseapp.com",
            projectId: "coccachshop-25db4",
            storageBucket: "coccachshop-25db4.appspot.com",
            messagingSenderId: "409723115626",
            appId: "1:409723115626:web:151d7dc6ee3d61a7fa9213"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>
</body>
</html>